@using AspNetCorePage;
@model PagedList<TaskManager.Domain.Model.tb_package_model>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function Delete(id) {
        $.ajax({
            url: '@Url.Action("Delete", "Package")',
            type: "post",
            data: {
                id: id
            },
            success: function (data) {
                if (data.code == 1) {
                    if (data.state == true) {
                        alert("删除成功！");
                        window.location.reload();
                    }
                    else {
                        alert("删除失败：请确认该节点下的任务已清除！");
                    }
                }
                else {
                    alert(data.msg);
                }
            }
        })
    }
</script>

<div class="head">
    <div class="title">
        程序包列表 @Html.Raw(TaskManager.Web.Models.Common.HelpHtml("用于显示任务的执行节点，节点可以分布在不同集群中，在此处列表统一管理和显示。当节点处于状态检查时，会被平台定期扫描，若节点不在运行，会被平台记录到错误日志中，邮件等通知管理员。"))
    </div>
</div>
<div class="orderlist m10 myorder">
    <div class="tab_cont">
    <a href="@Url.Action("Add", "Package")" class="btn1">新增</a>
        <div class="list">
            <table>
                <tr>
                    <th>id</th>
                    <th>程序包名称</th>
                    <th>备注</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.id</td>
                    <td>@item.packagename</td>
                    <td>@item.remark</td>
                    <td>@item.createtime</td>

                    <td>
                        <a href="@Url.Action("Update", "Package", new { id = @item.id })">修改</a>
                        <input type="button" value="删除" onclick="Delete('@item.id    ')" />
                        <a href="@Url.Action("Index","PackageVersion",  new { id = @item.id,CStime="" })">版本维护1</a>
                    </td>
                </tr>
                }
            </table>
            <div class="total pt10">
                <div class="fl">共<em>@Model.TotalPageCount</em>页<em>@Model.TotalItemCount</em>条记录，当前为第<em>@Model.CurrentPageIndex</em>页</div>
                @Html.Pager(Model, new PagerOptions {
               PageIndexParameterName = "id",
               NumericPagerItemCount = 10,
               AutoHide = false,
               PrevPageText = "上页",
               NextPageText = "下页",
               FirstPageText = "首页",
               LastPageText = "尾页"
           })
            </div>
        </div>
    </div>
</div>
